[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SuneelMaurya
[access "refs/for/refs/*"]
	read = group user/SuneelMaurya
	push = group user/SuneelMaurya
	label-Code-Review = -2..+2 group user/SuneelMaurya
	label-Verified = -1..+1 group user/SuneelMaurya
	rebase = group user/SuneelMaurya
	removeReviewer = group user/SuneelMaurya
	submit = group user/SuneelMaurya
[access "refs/heads/*"]
	read = group user/SuneelMaurya
	create = group user/SuneelMaurya
	push = +force group user/SuneelMaurya
	pushMerge = group user/SuneelMaurya
[access "refs/tags/*"]
	push = group user/SuneelMaurya
	push = +force group user/SuneelMaurya
